{% extends "MinimalManagerBundle::list.html.twig" %}

{% set queryFilter = app.request.attributes.get('queryFilter') %}
{% set routeName = routeName|default(queryFilter.routeName) %}
{% set routeParams = routeParams|default(queryFilter.routeParams) %}

{% macro row(exposedFields, object, module, isChild = false) %}
  <tr{% if isChild is same as(true) %} class="children"{% endif %}>
    <td><input type="checkbox" name="item[]" value="{{object.id}}"</td>
    {%- for field_id, field in exposedFields -%}
      {%- set field_name = field.name -%}
      {%- set field_type = field.type is defined ? field.type : null -%}
      {%- set attribute = attribute(object, field_id) -%}
      <td><a href="{{path('minimal_manager_edit',{module: module.informations.get('name'), id: object.id})}}" title="{{"Éditer cet élément"|trans|e}}">
      {%- if attribute.timestamp is defined -%}
        {{attribute|localizeddate('medium', 'short', app.request.locale)}}
      {%- else -%}
        {%- if field_type is same as('image') -%}
          <img src="{{object.path|imagine_filter('medium')}}" />
        {%- else -%}
          {{attribute}}
        {%- endif -%}
      {%- endif -%}
      </a></td>
    {%- endfor -%}
    <td>
      <ul class="menu simple">
        {% if isChild is same as(true) %}
        <li><a href="{{path('minimal_manager_move_up',{module: module.informations.get('name'), id: object.id})}}" title="{{"Remonter l'élément"|trans|e}}" class="text-black"><i class="icon ion-arrow-up-b"></i></a></li>
        <li><a href="{{path('minimal_manager_move_down',{module: module.informations.get('name'), id: object.id})}}" title="{{"Redescendre l'élément"|trans|e}}" class="text-black"><i class="icon ion-arrow-down-b"></i></a></li>
        {% endif %}
        <li><a href="{{path('minimal_manager_edit',{module: module.informations.get('name'), id: object.id})}}" title="{{"Éditer cet élément"|trans|e}}"><i class="icon ion-edit"></i></a></li>
        {%- if object.showRoute is defined -%}
          <li><a href="{{path(object.showRoute.get('route'),object.showRoute.get('params'))}}" title="{{"Prévisualiser cet élément"|trans|e}}" class="text-black"><i class="icon ion-eye"></i></a></li>
        {%- endif -%}
        <li><a href="{{path('minimal_manager_delete',{module: module.informations.get('name'), id: object.id})}}" title="{{"Supprimer cet élément"|trans|e}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer celà ?');" class="text-red"><i class="icon ion-trash-b"></i></a></li>
      </ul>
    </td>
  </tr>
{% endmacro %}
{% macro rows(exposedFields, objects, module, isChild = false) %}
{% import _self as table %}
  {%- for object in objects -%}
    {{table.row(exposedFields, object, module, isChild)}}
    {%- if object.children is defined and object.children is not null -%}
      {{table.rows(exposedFields, object.children, module, true)}}
    {%- endif -%}
  {%- endfor -%}
{% endmacro %}

{%- block data %}
  {% import _self as table %}
  {% for type, messages in app.session.flashbag.all() %}
     {% for message in messages %}
     {% if type == 'success' %}
       <div class="success callout" data-closable="slide-out-right">
        <p>{{ message }}</p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     {% endif %}
     {% endfor %}
   {% endfor %}
   <form method="POST" action="{{path('minimal_manager_batch',{module: module.informations.get('name')})}}">
      <table>
        <thead>
          <tr>
            <th width="50"></th>
            {%- for field_id, field in exposedFields -%}
              {%- set field_name = field.name -%}
              <th{% if queryFilter.orderType is same as(field_id) %} class="bg-white"{% endif %}>
                {%- if queryFilter.orderType is same as(field_id) -%}
                  <a href="{{ path(routeName, routeParams|merge({order: field_id, dir: queryFilter.revertOrderDir|lower })) }}">
                  {{field_name}}&nbsp;
                  {%- if queryFilter.orderDir is same as('ASC') -%}
                    <i class="icon ion-ios-arrow-up"></i>
                  {%- elseif queryFilter.orderDir is same as('DESC') -%}
                    <i class="icon ion-ios-arrow-down"></i>
                  {%- endif -%}
                </a>
                {%- else -%}
                  <a href="{{ path(routeName, routeParams|merge({order: field_id, dir: null})) }}">{{field_name}}</a>
                {%- endif -%}
              </th>
            {%- endfor -%}
            <th width="150">{{"Actions"|trans}}</th>
          </tr>
        </thead>
        <tbody>
          {{table.rows(exposedFields, data, module)}}
        </tbody>
      </table>
      <div class="row expanded">
        <div class="small-12 medium-6">
          <div class="row">
            <div class="small-12 medium-6">
              <select name="action">
                <option value="delete">{{"Supprimer"|trans}}</option>
              </select>
            </div>
            <div class="small-12 medium-6">
              <div>
                <button type="submit" class="button">{{"OK"|trans}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-6">
        </div>
      </div>
    </form>
  {% embed "MinimalCoreBundle:UI:pagination.html.twig" with {data: data, request: app.request} %}{% endembed %}
{% endblock -%}
