{% extends "MinimalManagerBundle::layout.html.twig" %}
{%- block frame %}
<div class="row expanded align-middle">
  <div class="columns small-12 medium-9">
    <h3>{%- if module.informations.get('icon') is not null -%}<i class="icon {{module.informations.get('icon')}}"></i>&nbsp;{%- endif -%}{{module.informations.get('title')}}</h3>
    {%- if module.informations.get('description') is not null -%}<p class="description">{{module.informations.get('description')}}</p>{%- endif -%}
  </div>
  <div class="columns small-12 medium-3 text-right">
    <a href="{{path('minimal_manager_create',{module: module.informations.get('name')})}}" class="button small hollow"><i class="icon ion-ios-plus-outline"></i>&nbsp;{{"Ajouter une nouvelle entrée"|trans}}</a>
  </div>
</div>
  {%- block data %}{% endblock -%}
{% endblock -%}
